extends layout

block content
    .page-header
        h1
            | #{author.firstName} #{author.lastName}
            small a.k.a #{author.nickname}

    form.text-center(action="/documents", method="GET")
        input#authorId(type="hidden", name="authId", value=author.id)
            button.btn.btn-primary#search-button(type="submit") Voir les document de l'auteur

    form(action="/author/" + author.id, method="DELETE")
        .btn-group
            a.btn.btn-primary#mod-button(href="/author/" + author.id) Modifier
            button.btn.btn-warning#del-button(type="submit") Supprimer