extends layout

block content
  .page-header: h1 Jenkings

  p.
    Bienvenu à Jenking, l'application de documentation :^)

  hr

  .text-center: .btn-group
    a.btn.btn-primary(href="/documents") Vers la liste des documents
    a.btn.btn-primary(href="/authors") Vers la liste des auteurs

