//
   Created by jeremy on 16-05-19.


.form-group
    label.control-label(for="authorFirstName") Prénom
    input.form-control#authorFirstName(type="text", name="authorFirstName", value=(author ? author.firstName : "" ))

.form-group
    label.control-label(for="authorLastName") Nom de famille
    input.form-control#authorLastName(type="text", name="authorLastName", value=(author ? author.lastName : "" ))

.form-group
    label.control-label(for="authorNickname") Nom d'utilisateur
    input.form-control#authorNickname(type="text", name="authorNickname", value=(author ? author.nickname : "" ))
