//
   Created by jeremy on 16-05-19.


.form-group
    label(for="authorFirstName") Prénom
    input.form-control#authorFirstName(type="text", name="authorFirstName")

.form-group
    label(for="authorLastName") Nom de famille
    input.form-control#authorLastName(type="text", name="authorLastName")

.form-group
    label(for="authorNickname") Nom d'utilisateur
    input.form-control#authorNickname(type="text", name="authorNickname")
